:root {
  --primary-text-color: #191919;
  --secondary-text-color: #000000;
  --accent-color: rgb(193, 246, 0);
  --hover-color: rgba(193, 246, 0, 0.8);
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
